EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=
EXPO_PUBLIC_CALLBACK_URL_FOR_GOOGLE=
EXPO_PUBLIC_CALLBACK_URL_FOR_DISCORD=

# Server-side secret. Do not expose this in client code.
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
